<style>
    footer{
        background-color: #fff;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        box-shadow: 2px 2px 8px 2px #e1e1e1;
        padding-top: 2%;
        padding-bottom: 2%;
        z-index: 2;
    }
    footer div{
        width: 100%;
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
    }
    footer div div img{
        height: 30px;
        width: 30px;
    }
</style>
<footer>
    <div>
        <div>
            <img src="src/icon/message-4652.svg" alt="">
        </div>
        <div>
            <img src="src/icon/message-4652.svg" alt="">
        </div>
        <div>
            <img src="src/icon/message-4652.svg" alt="">
        </div>
        <div>
            <img src="src/icon/message-4652.svg" alt="">
        </div>
    </div>
</footer>