<style>
    footer{
        background-color: #fff;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        box-shadow: 2px 2px 8px 2px #e1e1e1;
        padding-top: 2%;
        padding-bottom: 2%;
        z-index: 2;
    }
    footer div{
        width: 100%;
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        margin: auto;
    }

    footer div div{
        text-align: center;
        margin: auto;
    }

    footer div div a{
        text-decoration: none;
        color: #444;
        text-align: center;
    }

    footer div div img{
        height: 20px;
        width: 20px;
        margin: auto;
        display: block;
    }
    footer div div a img:nth-child(2) {
        display: none;
    }
    footer div div p{
        font-size:11px;
        font-family: 'Roboto', sans-serif;
        color: #444;
        height: fit-content;
        white-space: nowrap;
        line-height: 1;
        height: 0;
    }
</style>
<footer>
    <div>
        <div>
            <a href="home.php">
                <img src="src/icon/home.svg" alt="">
                <img src="src/icon1/home.svg" alt="">
                <p>Home</p>
            </a>
        </div>
        <div>
            <a href="shop.php">
                <img src="src/icon/bag.svg" alt="">
                <img src="src/icon1/bag.svg" alt="">
                <p>Shop</p>
            </a>
        </div>
        <div>
            <a href="subscription.php">
                <img src="src/icon/subscribe-rss-button.svg" alt="">
                <img src="src/icon1/subscribe-rss-button.svg" alt="">
                <p>Subscriptions</p>
            </a>
        </div>
        <div>
            <a href="notification.php">
                <img src="src/icon/bell.svg" alt="">
                <img src="src/icon1/bell.svg" alt="">
                <p>Notifications</p>
            </a>
        </div>
        <div>
            <a href="profile.php">
                <img src="src/icon/user.svg" alt="">
                <img src="src/icon1/user.svg" alt="">
                <p>Profile</p>
            </a>
        </div>
    </div>
</footer>