/* FOOTER PART */

footer div div:nth-child(5) a img:nth-child(1) {
    display: none!important;
}
footer div div:nth-child(5) a img:nth-child(2) {
    display: block!important;
}

/* FOOTER END */
*{
    font-family: 'Poppins', sans-serif;
}
.main-brand-profile{
    width: 100%;
    margin-top: 18%;
    margin-bottom: 18%;
}
.about-brand{
    width: 95%;
    padding: 2%;
}
.first-section{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.first-section > :first-child{
    width: 35%;
}
.main-image{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.main-info{
    width: 63%;
}
.main-info > :first-child{
    font-size: 20px;
    font-weight: 600;
}
.subscribe{
    width: 100%;
    margin-top: 2%;
}
.subscribe div{
    background-color: dodgerblue;
    padding: 2.5%;
    padding-left: 30%;
    padding-right: 30%;
    border-radius: 2px;
    color: #fff;
}
.main-details div{
    margin-top: 1%;
}
.main-details div > div:first-child{
    font-style: italic;
    color: #5e5e5e;
    font-weight: 600;
}
.main-details div > :nth-child(2) {
    font-size: 15px;
}
.main-details div > :nth-child(2) img{
    height: 18px;
}
.summary{
    color: #414040;
    font-family: 'Roboto';
    display: none;
}
.visible-summary{
    color: #414040;
    font-family: 'Roboto';
}
.see-more{
    color: grey;
    font-size: 15px;
    white-space: nowrap;
}

.activities{
    margin-top: 0%;
    width: 100%;
}
.activities nav{
    position: sticky;
    top: 5.5%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 5%;
    z-index: 2;
    background-color: #fff;
}
.activities nav div{
    width: 45%;
    text-align: center;
    font-size: 18px;
}
.activities nav > div:first-child{
    border-bottom: 2px solid #444;
}
.activities article{
    margin-top: 7%;
}