*{
    box-sizing: border-box;
}
body{
    font-family: "poppins", sans-serif;
}
.brand-logo{
    width: 95px;
    height: 95px;
    border-radius: 50%;
}
.logo{
    width: 35px;
    height: 35px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
}

.product-image{
    width: 100%;
    height: 120px;
}

main{
    width: 98%;
    margin: auto;
    margin-top: 18%;
    margin-bottom: 18%;
}

main article > div{
    border-bottom: 1px solid rgb(180, 180, 180);
}

.explore-brands, .explore-header{
    width: 100%;
}

.explore-brands{
    position: relative;
    margin-bottom: 3%;
    border-bottom: none;
}

.explore-header{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.explore-header > :first-child{
    width: 86%;
    text-align: left;
}

.explore-header > :nth-child(2){
    width: 10%;
}

.explore-header > :last-child img{
    width: 32px;
    height: 32px;
    margin: auto;
}

.contents{
    width: 100%;
    overflow:hidden;
    overflow-x: scroll;
    white-space: nowrap;
    margin-top: 2%;
}


.contents > div{
    width: 27%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1%;
    margin-bottom: 2%;
}

.contents >:first-child{
    margin-left: 0;
}

.contents div a{
    width: 100%;
    display: block;
    text-align: left;
}

.contents div a div{
    text-align: center;
}
.large-logo{
    width: inherit;
}

.contents .brand-name{
    width: 100%;
    text-align: center;
    padding-left: 5%;
}

.contents .brand-name span{
    font-weight: 600;
}