/* FOOTER PART */

footer div div:first-child a img:nth-child(1) {
    display: none!important;
}
footer div div:first-child a img:nth-child(2) {
    display: block!important;
}
footer div div:first-child a span{
    display: block!important;
}

/* FOOTER END */

.home-main{
    margin-top: 14%;
    margin-bottom: 20%;
}
.home-main header{
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom: 1px solid hsl(0, 0%, 95%);
    background-color: #fff;
}
.home-main header div{
    width: 10%;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}
.home-main header > :last-child{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    width: 70%;
    color: #000;
    font-weight: bold;
    vertical-align: middle;
}
.home-main header img{
    display: block;
    height: 20px;
    margin: auto;
}

.home-main > article{
    margin-top: 3%;
    border-bottom: 3px solid #f9f9f9;
    padding-bottom: 3%;
}
.home-main > article > :first-child{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
.brand-cover{
    width: 100%;
}
.brand-cover-one{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.brand-name div{
    text-align: left;
}
.brand{
    width: 60%;
    display: inline-block;
    vertical-align: middle;
}
.brand-logo{
    width: 30%;
}
.brand-logo img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: block;
    box-shadow: 8px 8px 16px 8px lightgrey;
}
.brand-cover-two div{
    width: 90%;
}
.brand-cover-two img{
    height: 20px;
    float: right;
}


.home-main article .second-section{
    margin-top: 2%;
}
article .second-section div{
    width: 100%;
    height: fit-content;
} 
article .second-section img{
    height: 25vh;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
article .action-section{
    margin-top: 2%;
}
article .action-div{
    width: 35%!important;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}
article .action-div div{
    text-align: left;
}
article .action-div img{
    height: 25px;
    width: 25px;
}
article .share-div{
    width: 30%;
    float: right;
}
article .share-div div{
    width: 97%;
    text-align: right;
}
article .share-div img{
    height: 25px;
    width: 25px;
}