*{
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
.container{
    width: 97%;
    margin: auto;
}

.container .header{
    width: 100%;
}

.header main{
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 20%;
}

.header main section{
    width: 20%;
    display: inline-block;
    vertical-align: middle;
}

.header main section:first-child{
    text-align: left;
}

.header main section:nth-child(2){
    text-align: center;
    width: 50%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.header main section:last-child{
    text-align: right;
}

.product-main >:nth-child(2) img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.toggle-links{
    width: 30px;
    height: 30px;
}

.brand > :first-child{
    width: 20%;
}

.brand > :nth-child(2){
    width: 75%;
    text-align: left;
}

.product-body{
    width: 100%;
    margin: auto;
}

.basic-info{
    width: 100%;
}
.basic-info > div{
    width: 100%;
    text-align: left;
}

.basic-info div img{
    width: 100%;
    height: 250px;
    margin: auto;
}

.social-option{
    width: 100%;

}

.social-option div{
    display: inline-block;
    vertical-align: middle;
    width: 20%;
}

.social-option div button{
    width: 29px;
    height: 30px;
}

